@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

/*! Base Css Start */
* {
    margin: 0;
}

body {
    font-family: "Electrolize", sans-serif;
}
/*! Base Css End */


/*! Navbar Start */
.navbar {
    background-color: black;
    height: 60px;
    color: white;
    position: sticky;
    top: 0;
}

.logo {
    color: rgb(255, 70, 70);
    font-size: 30px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.menu-list {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

.menu-list-item {
    cursor: pointer;
}

.menu-list-item:hover {
    font-weight: bold;
}

.menu-list-item.active {
    font-weight: bold;
}

.profile-container {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-text-container {
    display: flex;
    align-items: center;
    column-gap: 5px;
    line-height: 1;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 1px;
}
/*! Navbar End */


/*! Side Start */
.sidebar {
    background-color: black;
    color: white;
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    row-gap: 40px;
    position: fixed;
    top: 0;
}

.sidebar i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}
/*! Sidebar End */

/*! Featured Start */
.content-wrapper {
    margin-left: 50px;
}
.featured-content {
    background: url("images/spiderman.jpg");
    padding: 50px;
    height: calc(100vh - 160px);
    background-size: 100% 100%;
}

.featured-title {
    width: 400px;
}

.featured-desc {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 30px 0;
}

.featured-buttons {
    display: flex;
    column-gap: 20px;
}

.featured-buttons button {
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    font-size: 16px;
    font-weight: bold;
}

.info-button {
    background-color: rgba(145, 142, 142, 0.5);
}
/*! Featured End */